{extend name="base/default"}

{block name="main"}
<div class="rounded-xia">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            <div class="addlengding">单独添加</div>
            <div class="addlengding2" style="margin-right: 20px;
                              background-color: rgb(255, 222, 0);
                              line-height: 35px;
                              text-align:center;
                              border-radius:7px;
                              width: 96px;
                              font-size: 16px;
                              cursor: pointer;
                              float: right;
                          ">批量添加</div>
        </div>
    </div>
    <table class="table" style="margin-top: 20px;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">学号</th>
            <th scope="col">年级</th>
            <th scope="col">班级</th>
            <th scope="col">姓名</th>
            <th scope="col">电话</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        </tbody>
    </table>
</div>
{/block}